$font: 'PT Sans', sans-serif;

$black: #000000;
$dark-grey: #333333;
$basic-grey: #e5e5e5;
$light-grey: #f2f2f2;
$white: #ffffff;

$warm-light: #756257;
$neutral-light: #7db54f;
$cold-light: #83b3d3;
$cold-light20: rgba(131, 179, 211, 0.2);

$warm-dark: #615048;
$neutral-dark:#6c9e42;
$cold-dark:#68a2ca;
$cold-light12:rgba(131, 179, 211, 0.12);

$status-error: #ff5757;
$status-warning: #fd922e;
$status-success:#7db550;




$basic-green: #68b738;
$basic-grey: #f2f2f2;
$hover-green: #5eaa2f;



$special-grey: #eaeaea;
$special-dark-grey: #222222;
$very-dark: #111111;


$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$mobile-width: 320px;
