.page-header__nav {
  position: relative;
}

.page-header__toogle {
  position: absolute;
  width: 22px;
  height: 38px;
  top: 10px;
  right: 20px;
  background-color: transparent;
  padding: 0;
  border: none;
  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .page-header__menu  {
    position: absolute;
    width: 100%;
    top: 0;
  }

  .page-header__toogle--opened .page-header__menu {
    display: block;
  }

  .page-header__toogle--closed .page-header__menu {
    display: none;
  }

  .page-header__toogle--closed .page-header__toogle::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 4px;
    top: 10px;
    right: 0;
    background-color: $cold-light;
    box-shadow: 0 9px 0 0 $cold-light, 0 18px 0 0 $cold-light;
  }

  .page-header__toogle--opened .page-header__toogle {
      top: 10px;
      right: 20px;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 15px;
        right: 0;
        width: 25px;
        height: 4px;
        background-color: $white;
        z-index: 10;
      }

      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
      }
  }
}
